.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.appContainer > h1 {
    font-size: 3rem;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer__input {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 2rem;
}   

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.error {
    color: red;
    margin-left: 8rem;
}